* {
  box-sizing: border-box;
  margin: 0px;
  padding: 5px;
}
  
body {
  font-family: 'Anonymous Pro', monospace;
  font-size: 20px;
  color: white;
  background-color: black;
}

.hidden {
  display: none;
}
  
.hero{
  width: 30%;
  height: 30%;
  margin: auto;
}

li{
  list-style-type: none;
  margin: 0 2vw
}

ul{
  display: flex;
  justify-content: flex-end;

}

span{
  padding: 0px;
}

a{
  text-decoration: none;
}
a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  text-decoration: underline #f6c849;
}

button{
  display: none;
}

nav,
footer {
  padding: 1% 0;  
  background-color: black;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  border-bottom: 5px solid #f6c849;
  padding-left: 5px;
}

nav, h1,h2 {
  font-family: 'Anton', sans-serif;
  letter-spacing: 1px;
}

h1{
  font-size: 50px;
}

h2{
margin:0px;
padding-bottom: 20px;
text-align: center;
text-decoration: underline #f6c849;
font-size: 40px;
}

header {
  padding: 5%;
}
  
section {
  min-height: 200px;
  padding: 10px;
  background-color: black;
}

#aboutMe, #contact{
  text-align: center;
}

.header-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.inner-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.icon{
  width: 25%;
  height: auto;
}

.screenshot{
  width: 90%;
}

.menu{
  display: none;
}

.project-info{
  width: 175%;
}

.underline{
  text-decoration: underline #f6c849;
}

.contact-container{
  text-align: center;
  
}
.contact-section{
  width:300px; 
  margin:auto; 
}

.contact-item{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


@media only screen and (max-width: 550px) {
  h1{
    font-size: 25px;
  }

  h2{
      font-size: 20px;
  }

  .header-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

.inner-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  p{
    text-align: center;
  }

  div{
    width: 100%;
    text-align: center;
  }

  .hero{
    padding-right: 0px;
  }  

  ul{
    flex-direction: column;
  } 

  li{
    margin: 0;
  }
  
  a{
    display: block;
  }

  .project-info{
    width: 100%;
  }
  .hidden{
    display: none;
  }

  .menu{
    display: contents;
  }

  .contact-item{
    display: inline-block;
  }

  .icon{
    width: 15%;
    height: auto;
  }
}

@media only screen and (max-width: 770px) {
ul{
  justify-content: center;

}

h1{
  font-size: 40px;
}

h2{
    font-size: 30px;
}

h3{
  font-size: 20px;
}

body{
  font-size: 15px;
}
}